@model MovieReviewWebsite.Models.Film

@{
    Layout = null;
}
 
<h2>Details</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @{
        ViewBag.Title = "Details";
    }
    <h2>@Model.FilmID</h2>
    <h3>@Model.Name</h3>
    <p>@Model.Description</p>
    <p>@Model.GenreID</p>
    <p>@Model.Rating</p>
    <p><strong>@Model.FilmLength</strong></p>

    @*<h2>User Info:</h2>
    <p><strong>First Name:</strong> @Model.User.FirstName</p>
    <p><strong>First Name:</strong> @Model.User.LastName</p>*@


    <div>
        <h4>Film</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FilmLength)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FilmLength)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GenreID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GenreID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.FilmID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
